@import '/src/colors.scss';

.form {
    display: flex;
    align-items: stretch;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
    gap: 5px;

    &__input {
        border: none;
        border-bottom: 1px solid;
        margin: 0;

        padding: 3px 0;
        background: none;
        color: inherit;
        font-size: 1rem;
        outline: 0;

        &:has(+ label:not(:empty)) {
            color: $error;  
        }

        &__label {
            text-align: left;
            font-size: 0.75rem;
            flex: 0;
            color: $text-duller;

            &_errors {
                color: $error;
                word-break: normal;
            }
        }

        &__outer {
            display: flex;
            flex-direction: column;
            padding: 5px 0;
            gap: 3px;
            position: relative;
        }

        &__infosvg {
            position: absolute;
            right: 0;
            top: 1.2rem;
        }

        &::placeholder {
            color: $text-duller;
        }

        &__outer_checkbox {
            display: flex;
            gap: 10px;
        }

        &_select {
            text-align:start;

            & > option {
                color:black;

                &:disabled {
                    color: grey;
                }
            }
        }

        &[type=date] {
            color-scheme: dark;
        }
    }
}