.team {
    display: flex;
    max-width: calc(max(32vw, 320px));

    & > span {
        flex: 4;
        text-align: right;
    }

    &__students {
        display: flex;
        flex-direction: column;
        flex: 3;
        text-align: left;

        text-decoration: underline;
        cursor: pointer;
    }
}