@import './../../colors.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    border-radius: 20px;

    &__content {
        padding: 16px;
        background-color: $background-dark;
        border-radius: 16px;
    }
}