@import '/src/colors.scss';

.CrossButton {
    min-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    max-height: 1.5rem;
    border-radius: 50%;
    border: none;
    background-color: $error;
    text-align: center;
    font-weight: 900;
    color: black;
    padding: 0;

    &::before {
        content: 'X';
    }

    &:hover {
        background-color: $error-hover;
    }

    &:active {
        background-color: $error;
    }
}